## Dependency directories
node_modules/
package-lock.json

## Expo
.expo/
.expo-shared

## Various settings
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

## IDE
.vscode/

## Build generated
build/
web-build/

### ReactNative.Node Stack ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
